<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GazpromArmenia.GazMonitoringApp">
	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		
    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="GazMonitoringApp">
		
        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:screenOrientation="landscape"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
