<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MMV.Monitoring"
    android:installLocation="auto">
	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS"/>

    <application
        android:name="com.MMV.QtApplication"
        android:hardwareAccelerated="true"
        android:label="MonitoringApp"
        android:requestLegacyExternalStorage="true">
		
        <activity
            android:name="com.MMV.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:screenOrientation="landscape"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
